:root {
    font-size: 16px;
    --calculatorBackground: #333;
    --menuBackground: rgba(255, 255, 255, 0.1);
    --titleBorder: 1px solid rgba(255, 255, 255, .1);
    --footerBorder: 1px solid rgba(255, 255, 255, .1);
    --title: purple;
    --text: #f3f6fa;
    --border: black;
    --btnBackground: rgba(255, 255, 255, .5);
    --btnFontSize: 1.5rem;
    --btnFont: 'Share Tech Mono';
    --btnBorder: 1px solid grey; 
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Share Tech Mono', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(circle at 50% 50%, #f8f9fa 0%, #e3e6ea 40%, #cfd4da 70%, #bfc4ca 100%);
}

.title {
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background: var(--menuBackground);
    border-bottom: var(--titleBorder);
}

.footer_div {
    position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
    padding: 1rem;
    background: var(--menuBackground);
    border-top: var(--footerBorder);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px; /*clamp(400px,30vw, 400px);*/
  max-height: 25rem;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 12px 0 rgba(31, 34, 88, 0.3);
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 30px;
  border-radius: 24px;
  gap: 1rem;
  
}

.display {
  width: 100%;
  height: 3rem;
  background: var(--btnBackground);
  border: var(--btnBorder);
  border-radius: 12px;
  font-size: 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1rem;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.operator,
.number,
.clear,
.equal {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: var(--btnFontSize);
  border: var(--btnBorder);
  background: var(--btnBackground);
  font-family: var(--btnFont), Helvetica, sans-serif;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

button:hover {
  background: rgba(206, 206, 206, 0.3);
}

button:active {
  background: rgba(0, 0, 0, .4);
}